.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #282c34;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
}

/* FullCalendar styles override */
.fc-event {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.fc-event:hover {
  background-color: #218838;
}

/* Day cell hover effect */
.fc-daygrid-day:hover {
  background-color: #2b4c6a;
}

/* TimeGrid styles */
.fc-timegrid-event {
  background-color: #12da3d;
  border: none;
}

.fc-timegrid-event:hover {
  background-color: #b61616;
}

/* Today's date highlight */
.fc .fc-day-today {
  background-color: #2b4c6a;
}
